*~
*.lo
*.o
*.la
.deps
.libs
Makefile
Makefile.in
config.log
config.sub
config.status
config.guess
config.h
config.h.in
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
aclocal.m4
autom4te.cache/
js++/js++-test-rt
js++/js++-test-rt.log
js++/js++-test-rt.trs
js++/js++-test-call
js++/js++-test-call.log
js++/js++-test-call.trs
js++/test-suite.log
m4/libtool.m4
m4/lt*.m4
