*~
*.lo
*.o
*.la
.deps
.libs
Makefile
Makefile.in
config.log
config.sub
config.status
config.guess
config.h
config.h.in
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
aclocal.m4
autom4te.cache/
js++/js++-test
m4/libtool.m4
m4/lt*.m4